<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>计时器</title>
<script type="text/javascript">
    var intId=setInterval(clock,100);
   function clock(){
      var time=new Date();                    
      document.getElementById("clock").value = time;
   }
    function cancel(){
        clearInterval(intId);
    }
</script>
</head>
<body>
  <form>
    <input type="text" id="clock" size="50" />
    <input type="button" value="Stop"  onclick="cancel()"/>
  </form>
</body>
</html>
